.posContainer {
  margin: 40px;
}

.title {
  text-align: center;
}

.mainContainer {
  display: flex;
  justify-content: space-between;
}

.billingContainer {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 10px;
  padding: 32px;
  border:1px solid #f2f1f1;
  width: 29%;
  height: fit-content;
}

.payButton {
  background-color: #175cd3;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  border: 0px;
  margin-top: 30px;
  float:right;
}

.billTitle {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}

table {
  border: 2px solid #bfbfbf;
  border-collapse: collapse;
  border-radius: 10px;
}

td,
th {
  padding: 8px;
  text-align: start;
}

tfoot {
  border-top: 1px solid rgb(149, 149, 149);
}

.tableRow {
  background-color: #d4e2fb;
}

.itemsContainer {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 10px;
  padding: 32px;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  border:1px solid #f2f1f1;
  justify-content: center;
  gap: 30px;
  flex-direction: row;
}

.foodContainer {
  width: 200px !important;
  display: flex;
  background-color: #dddddd;
  padding:5px;
  border-radius: 10px;
  flex-direction: column;
}

.imgContainer {
  border-radius: 10px;
  width: 200px !important;
  height: 160px !important;
  object-fit:cover;
}

.itemName{
    font-size: 16px;
    line-height: 0px;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.itemPrice{
    line-height: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modalContainer {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  display: flex;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  justify-content: center;
  align-items: center;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.innerContainer{
  background-color: white;
  border-radius: 20px;
  padding:20px;
  display: grid;
  width: 30%;
}

.paidText{
  font-weight: 600;
  font-size: 20px;
  color:rgb(12, 177, 12);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: end;
}